@model IEnumerable<Stock_Management.Models.Storage>

@{
    ViewData["Title"] = "Index";
}

<h1>Storages</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Storage Name
            </th>
            <th>
                Storage Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StorageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageLocation)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.StorageId">Edit</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.StorageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
